{% for prod in paginator %}
    <tr>
        <th>
            {{ prod.id }}
        </th>
        <td>
            <a href="javascript://" class="product-item" data-id="{{ prod.id }}">{{ prod.name }}</a>
            <br>
            {#<img class="product-image-preview" onload="$(this).show();" width="150" src="{{ asset('uploads/images/' ~ prod.pic) }}" />#}
            {% include 'image_wrapper.html.twig' with {'product' : prod} %}
        </td>
        <td>
            {{ prod.description }}
        </td>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <td>
                {{ prod.price }}
            </td>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <td>
                <button onclick="location.href='products/edit/{{ prod.id }}'" class="btn btn-xs btn-primary btn-edit">Edit</button>
            </td>
        {% endif %}
    </tr>
{% endfor %}