{% for prod in paginator %}
    <tr>
        <th>
            {{ prod.id }}
        </th>
        <td>
            <a href="javascript://" class="product-item" data-id="{{ prod.id }}">{{ prod.name }}</a>
            <br>
            <img style="display: none" onload="$(this).show();" width="150" src="{{ asset('uploads/images/' ~ prod.pic) }}" />
        </td>
        <td>
            {{ prod.description }}
        </td>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <td>
                {{ prod.price }}
            </td>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <td>
                <a href="products/edit/{{ prod.id }}">Edit</a>
            </td>
        {% endif %}
    </tr>
{% endfor %}