<script>
    var currentPage = parseInt({{ currentPage }});
    $(document).on('click', '.custom-paginator a', function (e) {
        var self = $(this);
        var page = parseInt(self.data('page'));
        if (page == currentPage) {
            return;
        }
        $.ajax({
            url: '/app_dev.php',
            dataType: 'json',
            type: 'post',
            data: {
                page: page
            },
            beforeSend: function () {
                $('#products-table').css('opacity', 0.5);
            },
            success: function (response) {
                $('#products-table').find('tbody').html(response.html);
                $('.custom-paginator li').removeClass('active');
                self.parent().addClass('active');
                currentPage = page;
            },
            complete: function () {
                $('#products-table').css('opacity', 1);
            }
        });
        return false;
    });
</script>
<nav class="custom-paginator text-center" aria-label="Page navigation">
    <ul class="pagination">
        {% for i in 1..pages %}
            {% if i == currentPage %}
                <li class="active"><a data-page="{{ i }}" href="javascript://">{{ i }}</a></li>
            {% else %}
                <li><a data-page="{{ i }}" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>