{% extends 'base.html.twig' %}
{% block body %}
    <script>
        $(document).on('click', '.back-to-list', function (e) {
            var $container = $('#container-products');
            var $product = $('#container-product');
            if ($container.length && $product.length) {
                $product.hide();
                $container.show();
            }
        });
        $(document).on('click', '.product-item', function (e) {
            var self = $(this);
            var id = self.data('id');
            var $container = $('#container-products');
            var $product = $('#container-product');
            $.ajax({
                url: '/app_dev.php/view-product/' + id,
                data: {},
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    $container.css('opacity', 0.5);
                },
                success: function (response) {
                    if (response && response.status) {
                        $product.html(response.html);
                        $container.hide();
                        $product.show();
                    }

                },
                complete: function () {
                    $container.css('opacity', 1);
                }
            });
        });
    </script>
    <div id="wrapper">
        <div id="container">
            {{ include('user_menu.html.twig') }}
            <br>
            <div id="currency-styles">
                <ul class="main-wrapper">
                    {% for item in currenciesData %}
                        <li>
                            <span>{{ item.date }}</span>
                            <ul>
                                {% for t in item.data %}
                                    <li>{{ t }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div id="container-products">
                {% if productsEmpty %}
                    <p>
                        There is no products yet
                    </p>
                {% else %}
                    <table class="table table-condensed" id="products-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Descr</th>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <th>Price</th>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {{ include('paginator_page.html.twig') }}
                        </tbody>
                    </table>
                    {{ include('pagination.html.twig') }}
                {% endif %}
            </div>
            <div id="container-product" style="display: none;">

            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }

            .custom-paginator a {
                display: inline-block;
                border: 1px solid gray;
                padding: 3px 8px;
            }

            .custom-paginator a:hover {
                text-decoration: none;
            }

            .custom-paginator a.current-page {
                border: 1px solid red;
                cursor: default;
            }
        }
    </style>
{% endblock %}
