{% extends 'base.html.twig' %}
{% block body %}
    <script>
        $(document).on('click', '.product-view img', function(e) {
            var $modal = $('#image-preview-modal');
            $modal.find('img').attr('src', $(this).attr('src'));
            $modal.modal('show');
        });
        $(document).on('click', '.back-to-list', function (e) {
            var $container = $('#container-products');
            var $product = $('#container-product');
            if ($container.length && $product.length) {
                $product.hide();
                $container.show();
            }
        });
        $(document).on('click', '.product-item', function (e) {
            var self = $(this);
            var id = self.data('id');
            var $container = $('#container-products');
            var $product = $('#container-product');
            $.ajax({
                url: '/app_dev.php/view-product/' + id,
                data: {},
                type: 'post',
                dataType: 'json',
                beforeSend: function () {
                    $container.css('opacity', 0.5);
                },
                success: function (response) {
                    if (response && response.status) {
                        $product.html(response.html);
                        $container.hide();
                        $product.show();
                    }

                },
                complete: function () {
                    $container.css('opacity', 1);
                }
            });
        });
    </script>
    <div id="wrapper">
        <div id="container">
            {{ include('user_menu.html.twig') }}
            <br>
            <div class="panel panel-info" id="currency-styles">
                <div class="panel-heading" aria-expanded="false" data-toggle="collapse" data-target="#currencies-panel">
                    <h3 class="panel-title">Currencies values</h3>
                </div>
                <div class="panel-body collapse" id="currencies-panel">
                    <ul class="main-wrapper">
                        {% for item in currenciesData %}
                            <li>
                                <span>{{ item.date }}</span>
                                <ul>
                                    {% for t in item.data %}
                                        <li>{{ t }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <br>
            <div id="container-products">
                {% if productsEmpty %}
                    <p>
                        There is no products yet
                    </p>
                {% else %}
                    <table class="table table-condensed" id="products-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Descr</th>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <th>Price</th>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {{ include('paginator_page.html.twig') }}
                        </tbody>
                    </table>
                    {{ include('pagination.html.twig') }}
                {% endif %}
            </div>
            <div id="container-product" style="display: none;">

            </div>

        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
    </style>
{% endblock %}
