{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ include('user_menu.html.twig') }}
            <br>
            {% if isAdded == 1 %}
                <div>
                    <p class="bg-success">Item added successfully.</p>
                </div>
            {% endif %}
            <div class="text-right">
                <a class="btn btn-success" href="products/add">Add</a>
            </div>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Descr</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for prod in products %}
                    <tr>
                        <th>
                            {{ prod.id }}
                        </th>
                        <td>
                            {{ prod.name }}
                            <br>
                            {% include 'image_wrapper.html.twig' with {'product' : prod} %}
                        </td>
                        <td>
                            {{ prod.description }}
                        </td>
                        <td>
                            {{ prod.price }}
                        </td>
                        <td class="products-options text-right">
                            <button onclick="location.href='products/edit/{{ prod.id }}'" class="btn btn-xs btn-primary btn-edit">Edit</button>
                            <button onclick="if(confirm('Are you shure?')) location.href='products/remove/{{ prod.id }}'" class="btn btn-xs btn-danger btn-remove">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        a.btn-default {
            float: right;
        }
    </style>
{% endblock %}
